body {
	background-color: black;
	color: white;

}

#mainContainer {
/*	margin: auto 0;  */
}

#topics {
	background-color: blue;
	margin: auto;
	width: 60%;
	height: 30px;
	align-content: center;
}

.buttonStyle { 
	border-radius: 12px;
 }

#topic-view {
	margin: auto;
	width: 40%;
 }

#gifsGoHere {
	margin: auto;
	width: 60%;
}