body {
	background-color: black;
	color: white;
	font: 18px arial, sans-serif;

}

#mainContainer {
/*	margin: auto 0;  */
}

#topicsArea {
	background-color: blue;
	margin: auto;
	height: 30px;
	padding: 10px;
}

button:hover { 
	background: green;
 }

 button:active {
 	background: gray;
 }

#topic-view {
	padding: 10px;
	float: left;
 }

#gifsGoHere {
	margin: auto;
	width: 70%;
}